<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rjxy.librarymos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/NoTitleFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.AccountManager" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.AdminActivity" />
        <activity android:name=".ui.activity.UsersManager" />
        <activity android:name=".ui.activity.UserOrderManager" />
        <activity android:name=".ui.activity.ModifyAdminPassword" />
        <activity android:name=".ui.activity.BooksManager" />
        <activity
            android:name=".ui.activity.BookActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".ui.activity.ReserveActivity" />
        <activity android:name=".ui.activity.AddbookActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.C_all" />
        <activity android:name=".ui.activity.C_only"></activity>
    </application>

</manifest>